SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
VERSEL_RESEND_API_KEY=
FORM_NOTIFICATION_TO=studio@postervalley.nl
FORM_NOTIFICATION_FROM="Poster Valley <studio@auth.hetprojectmakersbureau.nl>"
FORM_NOTIFICATION_REPLY_TO=studio@postervalley.nl
SITE_URL=https://www.postervalley.nl
MOLLIE_API_KEY=
MOLLIE_TEST_MODE=
